	<!--map-->
<div align="center" class="container col-sm-12 map-style ">
		<sebm-google-map 
[latitude]="lat" 
[longitude]="lng"
[zoom]="zoom"
[disableDefaultUI]="false"
[zoomControl]="true"
>

  <sebm-google-map-marker 
  *ngFor="let Huts of Huts; let i=index"
  (markerClick)="clickedMarker(mapMarker)" 
  [latitude]="Huts.latitude" 
  [longitude]="Huts.longitude"
  [markerDraggable]="false">

  <sebm-google-map-info-window>
    <h1>Beach huts</h1>
    <label>Name:</label>  {{Huts.name}} <br>
    <label>Unit:</label>  {{Huts.unit}} <br>
    <label>Rooms:</label>  {{Huts.rooms}} <br>
    <label>Desciption:</label>  {{Huts.description}} <br>
    <label>Rent:</label>  {{Huts.rent}} <br>

    <form>
    <button class="btn btn-primary btn-sm" (click)="flag = true">Write a review</button> <br><br>
      <div *ngIf="flag === true" class="col-lg-10 form-group">
        <textarea class="form-control" rows="3" id="textArea"></textarea>
      </div>

    </form>
  </sebm-google-map-info-window>
  
  </sebm-google-map-marker>
</sebm-google-map>
	</div>
  <div class="hutadds">
<ng2-adsense
  [adClient]="ca-pub-1895109071827119"
  [adSlot]="6278796456"
  [display]="'inline-block'"
  [width]="320"
  [height]="108">
</ng2-adsense>

  </div>
  
	<div class="container home-panel">
      <div class="row">
        
        <div class="col-xs-3" *ngFor="let Huts of Huts; let i=index">
			<div class="project project-default">
				<div class="shape">
					<div class="shape-text">
						top								
					</div>
				</div>
				<div class="project-content">
					<h3 class="lead">
					   <img src="http://placehold.it/300x200/000000/&text=Header" height="100" width="100" alt=""/>

					</h3>
					      <div class="desc"><p>name:{{Huts.name}}</p></div>
      <div class="desc"><p>location:{{Huts.location}}</p></div>
       <div class="desc"><p>rent:{{Huts.rent}}</p></div>

		
				</div>
          <div class="bottom bot-right">
<a class="btn btn-default"(click)="hutdetail(Huts, i)">read more</a>
   </div>
			</div>
       
		</div>
      </div>
</div>
