
<hr><hr>

        <h2 class="page-header">Register1</h2>
<form (submit)="updhut()"
>
  <div class="form-group" >
    <label>Name</label>
    <input type="text"
    [ngModel]="this.name"
    name="name" 
  class="form-control"/>
  </div>


    <div class="form-group">
    <label>rooms</label>
    <input type="text" [(ngModel)]="rooms"    name="rooms" class="form-control">
  </div>
    <div class="form-group">
    <label>maxPersonAllowed</label>
    <input type="text" [(ngModel)]="maxPersonAllowed" name="maxPersonAllowed" class="form-control">
  </div>
  
   
    <div class="form-group">
    <label>rent</label>
    <input type="text" [(ngModel)]="rent" name="rent"  class="form-control">
  </div>
    <div class="form-group">
    <label>description</label>
    <input type="text" [(ngModel)]="description" name="description"  class="form-control">
  </div>
  	<!--<div class="form-group">
			<label><span>Choose Image</span><input type="file" id="myFile" (change)="onChange($event)"></label>
		</div>-->
  
  <input type="submit" value="submit" class="btn btn-primary">
</form>